NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB60s6oH6CzPSeN1O6L8xGhxABV7RzG0EY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=perspectiva-noticias.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=perspectiva-noticias
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=perspectiva-noticias.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=856746377043
NEXT_PUBLIC_FIREBASE_APP_ID=1:856746377043:web:6fbfc81ea0202dc37d2ba6
NEXT_PUBLIC_ADMIN_EMAILS=fravelzfv@gmail.com
